.header__nav {
  display: flex;
  overflow: hidden;
}
.header__logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}
.header__logo-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  width: 100%;
  z-index: -1;
}
.header__logo h4 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.header__menu,
.header__menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
}

.header__menu-mobile li {
  display: flex;
  gap: 15px;
}
.header__menu {
  list-style-type: none;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}
.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.header__menu-mobile {
  display: none;
  gap: 20px;
  cursor: pointer;
  position: relative;
  list-style: none;
}

.menu-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 22;
  top: 0;
  color: #818181;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu-mobile li {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
}
.menu-mobile li:hover {
  color: #f1f1f1;
}
